* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
  background-color: black;
  padding: 5px;
}
nav {
  text-align: center;
  padding-top: 15px;
}
button {
  margin: 10px;
  border: none;
  cursor: pointer;
}
h1 {
  color: white;
  text-align: center;
  padding-top: 30px;
}
section {
  display: flex;
  justify-content: center;
  position: relative;
}
main {
  text-align: center;
}
.descargar-img {
  background-color: white;
  width: 600px;
  height: 600px;
  margin-top: 50px;
  text-align:left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#img-cambiar {
  width: 100%;
  height: 100%;
  background-color: black;
  background-size: cover;
}
div p {
  font-size: 30px;
  padding: 40px;
  word-break: break-all;
}

/*aside texto*/
.aside-texto {
  background-color: rgb(198, 207, 207);
  width: 320px;
  height: 800px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
}
.checkbox {
  display: flex;
  width: 200px;
  justify-content: space-between;
  gap: 1px;
  font-size: 15px;
  
}
.checkbox input {
  width: 15px;
  height: 15px;
}
.texto-oculto{
  display: none;
}
.fondo-transparente{
  background-color: black;
}
.fuente {
  text-align: left;
  display: flex;
  justify-content: left;
  flex-direction: column;
  height: 120px;
  margin-top: 8px;
  gap: 5px;
}
.fuente select {
  width: 240px;
  height: 80px;
}
.alinear-texto {
  display: flex;
}
.alinear-texto input {
  margin-top: 9px;
  width: 120px;
}
.div-alinear-texto button {
  width: 30px;
  height: 30px;
  background-color: rgb(238, 210, 210);
}
.div-color-fondo {
  display: flex;
  width: 240px;
  justify-content: space-around;
  padding: 10px;
}
#input-color-texto {
  width: 90px;
  background-color: white;
}
#input-fondo-texto {
  width: 90px;
}
.contorno {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
}
.txt-izquierda{
 text-align: left;
}
.btn-contorno {
  display: flex;
}
.btn-contorno button {
  width: 80px;
  height: 30px;
  border-radius: 5px;
}
.espaciado-interlineado {
  display: flex;
  flex-direction: column;
  gap: 2em;
  text-align: left;
}
#interlineado {
  width: 185px;
  height: 30px;
}
/*ASIDE IMAGEN*/
.aside-imagen {
  background-color: rgb(3, 31, 31);
  width: 320px;
  height: 800px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  /*margin-right: 350px;*/
}
.div-aside-imagen {
  width: 250px;
  height: 70px;
  padding-top: 10px;
  text-align: left;
}
.div-de-fondo {
  display: flex;
  justify-content: space-between;
}
#seleccion-color {
  width: 100px;
  height: 30px;
  border-radius: 3px;
}
#tipo-fondo {
  width: 100px;
  height: 30;
}
.filtros h4 {
  text-align: left;
}
.div-filtros {
  display: flex;
  flex-direction: column;
}
.oculto {
  display: none;
}

#btn-descargar {
  background-color: green;
  padding: 10px;
  cursor: pointer;
}
/*Modo claro y oscuro*/
.modo-claro {
  background-color: rgb(222, 217, 217);
  color: black;
}
.modo-claro header {
  background-color: rgb(163, 159, 159);
}
.modo-claro h1 {
  color: black;
}
.modo-claro button {
  background-color: rgb(163, 159, 159);
}
.modo-claro aside {
  background-color: white;
}

.modo-oscuro {
  background-color: rgb(133, 132, 132);
}
.modo-oscuro header {
  background-color: rgb(53, 50, 50);
}
.modo-oscuro button {
  background-color: rgb(53, 50, 50);
  color: white;
}
.modo-oscuro aside {
  background-color: rgb(79, 75, 75);
  color: white;
}
.primer-div-aside {
  background-color: aqua;
}
.segundo-div-aside {
  background-color: blue;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
label {
  text-align: left;
  padding-top: 10px;
}
input {
  width: 60%;
  height: 30px;
}
.checkbox {
  display: flex;
  justify-content: space-around;
}
