*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: black;
  padding: 5px;
}
nav {
  text-align: center;
  padding-top: 15px;
}
button {
  margin: 10px;
  border: none;
  cursor: pointer;
}
h1 {
  color: white;
  text-align: center;
  padding-top: 30px;
}
section {
  display: flex;
  justify-content: center;
  position: relative;
}
main{
  text-align: center;
}
#descargar-img {
  background-color: white;
  width: 600px;
  height: 600px;
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  width: 100%;
  height: 400px;
  background-color: black;
}
div p {
  font-size: 40px;
}
.aside-texto {
  background-color: rgb(198, 207, 207);
  width: 300px;
  height: 800px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
}
.aside-imagen {
  background-color: rgb(3, 31, 31);
  width: 300px;
  height: 800px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 350px;
}
.div-aside-imagen{
  background-color: white;
  width: 250px;
  height: 70px;
  padding-top: 10px;
  text-align: left;
}
.div-fondo{
  display: flex;
  justify-content: space-between;
}
#seleccion-color{
  width: 100px;
  height: 40px;
  background-color:rgb(225, 178, 178);
  border-radius: 3px;
}
#efecto-fondo{
  width: 100px;
  height: 40px;
  background-color: rgb(225, 178, 178);
  border-radius: 3px;
}
.filtros h4{
  text-align: left;
}
.div-filtros{
  display: flex;
  flex-direction: column;
}
.oculto {
display: none;
}
/*.visible {
  display: flex;
}*/
#btn-descargar{
background-color: green;
padding: 10px;
cursor: pointer;
}
.modo-claro{
  background-color: rgb(222, 217, 217);
  color: black;
}
.modo-claro header{
  background-color: rgb(163, 159, 159);
}
.modo-claro h1{
  color: black;
}
.modo-claro button{
  background-color:rgb(163, 159, 159);
}
.modo-claro aside{
  background-color: white;
}

.modo-oscuro{
  background-color: rgb(133, 132, 132);
}
.modo-oscuro header{
  background-color: rgb(53, 50, 50);
}
.modo-oscuro button{
  background-color: rgb(53, 50, 50);
  color: white;
}
.modo-oscuro aside{
  background-color:rgb(79, 75, 75) ;
  color: white;
}
.primer-div-aside{
  background-color: aqua;
}
.segundo-div-aside{
  background-color: blue;
}
form{
  display: flex;
  flex-direction: column;
  gap: 10px;
 
}
label{
  text-align: left;
  padding-top: 10px;
}
input{
  width: 60%;
  height: 30px;
}
.checkbox{
  display: flex;
  justify-content:space-around;
}