* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
  background-color: black;
  padding: 20px;
  margin-bottom: 50px;
}
nav {
  text-align: center;
  padding-top: 15px;
}
button {
  margin: 10px;
  border: none;
  cursor: pointer;
  font-size: 15px;
}
h1 {
  color: white;
  text-align: center;
  padding-top: 30px;
}
section {
  display: flex;
  justify-content: center;
  position: relative;
}
main {
  text-align: center;
}
.descargar-img {
  background-color: white;
  width: 600px;
  height: 600px;
 /*margin-top: 50px;*/
  text-align:left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#img-cambiar {
  width: 100%;
  height: 100%;
  background-color: black;
  background-size:cover;
}
.texto-sup-cambiar{
  text-shadow: none;
}
.texto-inf-cambiar{
  text-shadow: none;
}
div p {
  font-size: 30px;
  padding: 40px;
  word-break: break-all;
}

/*aside texto*/
.aside-texto {
  width: 320px;
  height: 100%;
  text-align: center;
  position:fixed;
  top: 0;
  right: 0;
  padding-top: 60px;
  padding-left: 10px;
}
span{
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  display: none;
  
}
.checkbox {
  display: flex;
  width: 150px;
  font-size: 13px;
  background-color: aqua;
}
.checkbox input {
  width: 15px;
  height: 15px;
}
.texto-oculto{
  display: none;
}
.fondo-transparente{
  background-color: transparent;
}
.fuente {
  text-align: left;
  display: flex;
  justify-content: left;
  flex-direction: column;
  height: 120px;
  margin-top: 8px;
  gap: 5px;
}
.fuente select {
  width: 240px;
  height: 80px;
}
.alinear-texto {
  display: flex;
}
.alinear-texto input {
  margin-top: 9px;
  width: 120px;
}
.div-alinear-texto button {
  width: 30px;
  height: 30px;
  background-color: rgb(238, 210, 210);
}
.div-color-fondo {
  display: flex;
  width: 240px;
  justify-content: space-around;
  padding: 10px;
}
#input-color-texto {
  width: 90px;
  background-color: white;
}
#input-fondo-texto {
  width: 90px;
}
.contorno {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 10px;
}
.contorno-btn{
  background-color: blueviolet;
  width: 50px;
}
.contorno-claro-efecto{
 text-shadow: white 2px 2px,white -2px 2px, white 2px -2px, white -2px -2px;
}
.contorno-oscuro-efecto{
  text-shadow: black 2px 2px,black -2px 2px,black 2px -2px,black -2px -2px;
}

.txt-izquierda{
 text-align: left;
}
.btn-contorno {
  display: flex;
  width: 250px;
  background-color: aquamarine;
}
.btn-contorno button {
  width: 80px;
  height: 30px;
  border-radius: 5px;
}
.btn-alinear{
  border-radius: 3px;
}
.espaciado-interlineado {
  display: flex;
  flex-direction: column;
  gap: 2em;
  text-align: left;
}
#interlineado {
  width: 185px;
  height: 30px;
}
/*ASIDE IMAGEN*/
.aside-imagen {
  width: 320px;
  height: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 60px;
  padding-left: 10px;
}
.div-aside-imagen {
  width: 250px;
  height: 70px;
  padding-top: 10px;
  text-align: left;
}
.div-de-fondo {
  display: flex;
  justify-content: space-between;
}
#seleccion-color {
  width: 100px;
  height: 30px;
  border-radius: 3px;
}
#tipo-fondo {
  width: 100px;
  height: 30;
}
.filtros h4 {
  text-align: left;
}
.div-filtros {
  display: flex;
  flex-direction: column;
}
.oculto {
  display: none;
}

#btn-descargar {
  background-color: green;
  padding: 10px;
  cursor: pointer;
}
/*Modo claro y oscuro*/
.modo-claro {
  background-color: rgb(222, 217, 217);
  color: black;
}
.modo-claro header {
  background-color: rgb(163, 159, 159);
}
.modo-claro h1 {
  color: black;
}
.modo-claro button {
  background-color: rgb(163, 159, 159);
}
.modo-claro aside {
  background-color: white;
}
.texto-cambiar{
  text-shadow: none;
}
.modo-oscuro {
  background-color: rgb(133, 132, 132);
}
.modo-oscuro header {
  background-color: rgb(53, 50, 50);
}
.modo-oscuro button {
  background-color: rgb(53, 50, 50);
  color: white;
}
.modo-oscuro aside {
  background-color: rgb(79, 75, 75);
  color: white;
}
.primer-div-aside {
  background-color: aqua;
}
.segundo-div-aside {
  background-color: blue;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
label {
  text-align: left;
  padding-top: 10px;
}
input {
  width: 60%;
  height: 30px;
  background-color: aquamarine;
  border-radius: 5px;
}
select{
  background-color: blueviolet;
  border-radius: 5px;
}
.checkbox {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 440px){
  
  .aside-imagen {
   width: 100%;
   height: 100%;
   padding-top: 0px;
  }
  span{
    display: flex;
    position: relative;
  }
  .aside-texto {
    width: 100%;
    height: 100%;
    padding-top: 0px;
  }
  header{
   width: 440px;
  }
  .descargar-img {
    width: 380px;
    height: 500px;
  }
  
}